*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 2rem;
}

#jeu{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    gap: 1rem;
    margin: 3rem auto;
    ;
}

.cell{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#recommencer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

p{
    margin: 1rem;
    font-size: 1.25rem;
}

p:first-of-type{
    color: rgb(0, 0, 0);
}

p:nth-child(2){
    color: red;
}
p:nth-child(3){
    color: rgb(33, 139, 209);
}